body {
	background-image: url("../Image/Background.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-attachment : fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul.Article {
    background-color: white;
}

.Menu a {
	float: left;
	border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	transition : all 0.6s;
}

.Menu a:hover {
    background-color: green;
}

h1 {
    color: white;
	text-align : center;
    font-size: 80px;
}

h2 {
    color: white;
    margin-left: 50px;
    font-size: 30px;}

h3 {
    font-size: 20px;
    text-decoration: underline;
}

p {
    text-indent: 0px;
    margin-left: 50px;
    margin-right : 50px;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

article {
    margin : 50px;
	text-indent : 50px;
	width : 600px;
	background-color : white;
	opacity : 1;
}

img.InsideArticle {
    width: 75%;
    margin-left: 50px;
    margin-right: 50px;
}

a.Link {
    text-decoration: underline;
}

conteneur.Video1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

conteneur.Video2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
   
conteneur.Video3 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

html { scroll-behavior: smooth; }

a.Button {
	color : white;
	text-decoration : none;
}

Button:hover {
	background-color : green;
}

.pull-right  {
	float : right;
	margin-bottom : 70px;
    background-color: #333;
    border-color: #333;
}

.pull-right a:hover {
	background-color: green;
}

.BtnHautDePage a:hover {
	background-color : green;
}

footer {
    border : 1px solid;
	border-color : black;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color : black;
	color: white;
	text-align: left;
    font-size: 10px;
}
